.dont_exist {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 180px; 
    color: #5f490e;
    font-family: Grechen Fuemen , sans-serif;
    font-size: 30px;
  }
   

