
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;

}

section {
    background-color: #fff;
}

.heading {
    /* background-color: rgb(196, 150, 51); */
    padding: 20px 0;
    margin-bottom: 10px;
    align-items: center;
}

.heading h1 {
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
    padding: 30px 30px;
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 21px;
    }
}

.container {
    width: 1280px;
    padding: 15px;
    margin-left: auto;
    /* margin-right: auto; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 35px;
    /* background-color: rgb(230, 219, 210); */
}

@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.box {
    background-color: rgb(58, 57, 46);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
    gap: 10px;
    border: 1px solid rgb(214, 204, 147);

}

.box img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.box img:hover {
    cursor: pointer;
    opacity: 0.95;
}

.box h2 {
    font-size: 20px;
    color: rgb(175, 153, 55);
}

.box p {
    padding: 0 20px;
    font-size: 12.5px;
    line-height: 1.35;
    color: var(--gray-color);
}

.box span {
    font-weight: 800;
    font-size: 18px;
    color: rgb(167, 160, 131);

}



.box .options {
    margin-bottom: 25px;
}

.box .options button {
    color: rgb(175, 153, 55);
    background-color: rgb(34, 34, 32);
    display: inline-block;
    padding: 14px 35px;
    text-decoration: none;
    /* font-weight: 600; */
    font-size: 12px;
    border-radius: 6px;
    margin: 10px;
    border: 1px solid rgb(214, 191, 99);

}

.box .options button:hover {
    background-color: rgb(44, 42, 34);
    color: rgb(193, 196, 29);
}
h2{
    width: 90%;
    color: white;
}
.category{
    justify-content: center;
}
.category button{
margin: 10px;
padding: 10px;
border-radius: 5px;
border: navajowhite;
cursor: pointer;
}
.select{
float: left;  
 width: 150%;
    border: 3px solid green;
    padding: 10px;
}

.category-button{
    background-color: rgb(199, 173, 24);

}
