.container{
    /* background-color: red; */
    background: url('https://images.unsplash.com/photo-1596462502278-27bfdc403348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* margin-top: 10vh; */
    /* margin-bottom: 10vh; */
      position: relative;

}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    /* border: 3px solid green; */
    box-shadow: 10px 10px 6px 1px;
    background-color: black;
    margin: auto;
    opacity: .6;
}
button{
    background-color: rgb(128, 39, 76);
    color: wheat;
    padding: 24px 45px;
    opacity: 1;
    border-radius: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    border: none;
}